@import "reset.css";
@import "fonts.css";

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: black;
  cursor: pointer;
}

.bg-color-red {
  background-color: #f72210;
}

.f-white {
  color: #fff;
}

.f-gray {
  color: #807f84;
}

.f-black {
    color: #000;
}

.font-roboto {
    font-family: "Roboto Condensed", sans-serif;
}

.main-container {
    max-width: 1310px;
    margin: 0 auto;
}

.navbar {
  padding: 10px 15px;
  height: 50px;
  color: #fdc7c3
}

.nav-logo {
  object-fit: cover;
  width: 132px;
  height: 20px;
}

.button {
  background-color: #ffe400;
  padding: 5px 12px;
  color: black;
  border-radius: 15px;
  margin: 0 15px;
  font-size: 13px;
  font-weight: 700;
}

.fs-16 {
  font-size: 16px;
}
.login-nav {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}

.date {
  font-weight: 400;    
}

.nav-list {
  height: 55px;
  padding-right: 76px;
}

.border-gray {    
    border-color: #f4f5f7;
}

.nav-list-bottom {
    height: 45px;
}

.nav-list-item {
  font-size: 19px;
  border-right: solid 1px #d9d9d9;  
}

.nav-list a:hover {
    color: #f72210;
}

.no-border {
  border: none;
}

.search {
  color: rgba(0,0,0,.55);
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 992px) {
  .navbar {
    height: 95px;
  }

  .nav-logo {
    height: 60px;
    width: 395px;
  }
  .navbar::after {
    position: absolute;
    top: 95px;
    right: 0;
    content: "";
    display: block;
    width: 76px;
    background-color: #f72210;
    border-left: 12px solid white;
    border-top: 13px solid #f72210;
  }
}

@media (min-width: 768px) {
    .button {
        font-size: 18px;
    }
}

strong,
small {
  color: #666;
}

small {
  font-weight: 500;
}

.bx::before {
  font-size: 32px;
  padding: 0 4px;
  color: #666;
}

.bx:first-child::before {
  padding-left: 0;
}

.footer-list-links li a {
  text-decoration: none;
  color: #666;
  font-size: 14px;
  font-weight: 500;
}

.footer-list-links li a:hover {
  text-decoration: none;
  color: #000;
}

@media screen and (min-width: 992px) {
  .footer-list-links li {
    border-right: 1px solid #d9d9d9;
    padding-right: 10px;
    margin-right: 10px;
  }

  .footer-list-links li:last-child {
    border: none;
  }
}
